@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<form method="post">

    <input asp-for="Id" type="hidden" />

    <div class="form-check">
        <label>Başlık</label>
        <input class="form-control" type="text" asp-for="Title" placeholder="*Başlık yazınız" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="form-check">
        <label>Açıklama</label>
        <input class="form-control" type="text" asp-for="Description" placeholder="*Açıklama yazınız" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="form-check">
        <label>Fotoğraf Url'i Giriniz</label>
        <input class="form-control" type="url" asp-for="ImageUrl" placeholder="*Url yazınız" />
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
    </div>

    <div class="form-check">
        <label>Özellik-1</label>
        <input class="form-control" type="text" asp-for="Skill1" placeholder="*Özellik yazınız" />
        <span class="text-danger" asp-validation-for="Skill1"></span>
    </div>

    <div class="form-check">
        <label>Özellik-3</label>
        <input class="form-control" type="text" asp-for="Skill2" placeholder="*Özellik yazınız" />
        <span class="text-danger" asp-validation-for="Skill2"></span>
    </div>
    <div class="form-check">
        <label>Özellik-3</label>
        <input class="form-control" type="text" asp-for="Skill3" placeholder="*Özellik yazınız" />
        <span class="text-danger" asp-validation-for="Skill3"></span>
    </div>

    <div class="form-check">
        <label>Özellik-4</label>
        <input class="form-control" type="text" asp-for="Skill4" placeholder="*Özellik yazınız" />
        <span class="text-danger" asp-validation-for="Skill4"></span>
    </div>
    <br />

    <button class="btn btn-outline-info">Güncelle</button>

</form>

